/************* Guardian Text Egyptian *************/

@font-face {
	font-family: 'GuardianTextEgyptian';
	src: url('./assets/fonts/GuardianTextEgyptian-Regular.woff2')
			format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'GuardianTextEgyptian';
	src: url('./assets/fonts/GuardianTextEgyptian-RegularItalic.woff2')
			format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'GuardianTextEgyptian';
	src: url('./assets/fonts/GuardianTextEgyptian-Bold.woff2')
			format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'GuardianTextEgyptian';
	src: url('https://assets.guim.co.uk/static/frontend/fonts/guardian-textegyptian/noalts-not-hinted/GuardianTextEgyptian-BoldItalic.woff2')
			format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}


/************* Guardian Titlepiece *************/

@font-face {
	font-family: 'GT Guardian Titlepiece';
	/*
	This is a design flourish and needs the full charset to work as intended.
	This makes the file too big in ttf (80kb vs 27kb).
	Only serve this to woff*-compatible devices.
	*/
	src: url('./assets/fonts/GTGuardianTitlepiece-Bold.woff2')
		format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
    font-family: 'GuardianTextEgyptian', Georgia, 'Times New Roman', Times, serif;
    color: #ccc;
    
    background-color: #111;
    /* border: 1px solid white; */

    max-width: 1300px;
    min-width: 288px;

    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
} 

h1, h2, h3 {
    font-family: 'GT Guardian Titlepiece';
}

h2 {
    font-size: 3.75rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    margin: 8px 0 0 0;
}

.italic {
    font-style: italic;
}

.white {
    color: white;
}

.hover-gold:hover {
    color: gold;
}

.hover-gold-br:hover {
    background: gold;
}

.plain-link {
    text-decoration: none;
    color: inherit;
}

.gold-link {
    color: gold;
}

#header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: inherit;
}

#icons {
    display: flex;

    margin: 16px 0;
}

.icon {
    text-decoration: none;
    
    background-color: #ccc;
    border-radius: 50%;
    
    width: 48px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 16px;
    box-sizing: border-box;
}

.icon svg {
    width: 32px;
    height: 32px;
}

#jobs-link {
    font-weight: bold;
    color: #111;

    border-radius: 30px;

    width: 106px;

    display: flex;
    flex-direction: row;
}

#jobs-link span {
    padding: 0 8px;
}

.container {
    border: 1px solid #444;
}

#nav-bar {
    border-bottom: 1px solid #444;

    display: flex;
    overflow-x: auto;

    padding: 0;
    margin: 0;
}

.link {
    color: #ccc;
    text-decoration: none;
    
    border-right: 1px solid #555;

    white-space: nowrap;
    
    text-align: center;

    padding: 5px 16px 8px 16px;
}

.link.active,
.link:hover {
    color: gold;

    border-top: 3px solid gold;
    
    padding-top: 2px;
}

.section {
    border-bottom: 1px solid #444;

    padding: 1rem;
}

#hero {
    display: flex;
    overflow-x: auto;
    column-gap: 1rem;
}

#hero-text {
    line-height: 1.1;

    width: 110%;
}

#hero-img {
    display: flex;
    
    margin: auto 0;
}

#hero-img img {
    width: 100%;
}

#join {
    text-decoration: none;
    color: #111;

    background: #ccc;
    white-space: nowrap;
    
    padding: 0px 15px;
}

#join:hover {
    background: gold;
}

#goals {
    display: flex;
    overflow-x: auto;
    column-gap: 1rem;
}

#goals-list {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    column-gap: 16px;

    margin: auto 0;
}

.goal {
    background: rgb(51,51,51);

    width: 246px;
    height: 124px;

    padding: 8px;
    box-sizing: border-box;
}

.goal h4 {
    margin: 0px;
}

.goal p {
    margin: 8px 0 0 0;
}

#blog-posts {
    display: flex;
    flex-direction: column;
}

#blog-posts-subtitle h3 {
    font-size: 18px;
}

#posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 16px;

    margin: 16px 0;
    padding: 0px;
}

.post {
    background: #333;

    padding: 8px;
    border-radius: 5px;
    box-sizing: border-box;
}

.post a {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post .info {
    text-align: center;
}

.post .info figure {
    max-width: 380px;
    max-height: 290px;
    aspect-ratio: 4 / 3;

    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    overflow: hidden;
}

.post img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.post .byline {
    text-align: center;
}

#footer {
    display: flex;
    justify-content: space-between;

    padding: 16px;
}

@media only screen and (max-width:575px) {
    #goals-list {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width:1000px) {
    #hero {
        flex-direction: column;
    }

    #hero-text {
        width: 100%;
    }

    #goals {
        flex-direction: column;
    }

    .goal {
        width: 100%;
        height: auto;
    }

    #posts {
        grid-template-columns: 1fr;
    }

    .post .info figure {
        max-width: 100%;
        max-height: 100%;
    }
}